# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
cnn/cats_and_dogs_small
cnn/cats_and_dogs_small_1.h5
cnn/cats_and_dogs_small_2.h5
cnn/image_cam.jpg
cnn/vgg16_weights_tf_dim_ordering_tf_kernels.h5
cnn/vgg16_weights_tf_dim_ordering_tf_kernels_notop.h5
test.ipynb
